{% extends 'base.html' %}
{%load static%}

{% block title %}Zoho Contacts{% endblock %}

{% block extra_head %}
<link href="{% static 'css/contacts.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Contacts from Zoho CRM</h1>

    {% if contacts %}
        <div class="contacts-list">
            {% for contact in contacts %}
                <div class="contact-card">
                    <h3>
                        {{ contact.Full_Name }} :
                        <a href="{% url 'contact_detail' contact.id %}">
                            {{ contact.id }}
                        </a>
                    </h3>

                    <div class="contact-info">
                        <strong>Currency:</strong>
                        <p>{{ contact.Currency }}</p>
                    </div>

                    <div class="contact-info">
                        <strong>Department:</strong>
                        <p>{{ contact.Department|default:"N/A" }}</p>
                    </div>

                    <div class="contact-info">
                        <strong>Subscription Status:</strong>
                        <p>{{ contact.Subscription_Status|default:"N/A" }}</p>
                    </div>
                    
                    <div class="contact-info">
                        <strong>Owner:</strong>
                        <p>{{ contact.Owner.name }} ({{ contact.Owner.email }})</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No contacts available.</p>
    {% endif %}
</div>
{% endblock %}
